* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.instruction-container {
    margin:auto;
    width: 400px;
    position: absolute;
    border: 3px solid black;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 1;
}

.quiz-container {
    margin:auto;
    width: 400px;
    position: absolute;
    border: 3px solid black;
    display:hidden;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}



.quiz-header{
    display: flex;
    flex-wrap: wrap;
}

.quiz-title {
    width: 100%;
    text-align: center;
    padding: 20px 2px;
}

.timer-text {
    width: 100%;
    text-align: center;
    padding: 20px 2px;
}

.question {
    padding: 0px 10px;
}

.answer-choices li{
    list-style-type: none;
    margin: 15px 5px;
}




.submit-answer {
    width: 100%;
    margin-top: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}